* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  overflow: hidden;
  font-family: "Helvetica";
}

#score {
  width: 600px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}

.gameover {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  z-index: 10;
}

#game {
  position: relative;
  box-shadow: 0 0 10px 10px black;
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  background-image: url("./images/space.png");
  overflow: hidden;
}

.alienscontainer {
  position: relative;
  transform: translate(0, 35px);
  width: 380px;
  position: absolute;
}

.lay_out {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1000;
  color: white;
  font-size: 2.5rem;
  letter-spacing: 4px;
  word-break: break-word;
}

.lives,
.levels {
  position: absolute;
  color: white;
  font-size: 1.3rem;
}

.lives {
  transform: translate(5px, 0);
}

.levels {
  transform: translate(519px, 0);
}

button {
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: rgb(121, 190, 212);
  transition: background 300ms ease;
  font-weight: 600;
  color: rgb(27, 26, 26);
}

button:hover {
  background-color: rgb(68, 123, 141);
}

.inveder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bullet {
  position: absolute;
  background-color: red;
  height: 10px;
  width: 5px;
}

.title {
  font-family: "Helvetica";
  font-size: 2em;
}

.player {
  position: absolute;
  height: 50px;
  width: 50px;
  transform: translate(255px, 550px);
}

.alien {
  position: absolute;
  height: 30px;
  width: 44px;
}
